/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  */
}
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/

/* reset default */
/*
ul {
  list-style: none;
}
*/
/* my page style definition */

@media (max-width: 999px) {
  html {
    font-size: 12px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.8rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Microsoft JhengHei';
}
body {
  background-color: lightyellow;
  line-height: 1.5;
}
h2 {
  margin: 5px 0;
}
blockquote {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 0;
}
.titleBlock {
  height: 20vh;
  color: white;
  text-align: center;
  background-color: #246A24;
  background-image: 
    url("../images/book1.png"), url("../images/book2.png"), 
    url("../images/pencan.png"), url("../images/wood\ pattern.jpeg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  /*background-attachment: fixed, fixed, fixed, fixed;*/
  background-position: 21vw 13vh, 3vw 8vh, 85vw 3vh, left top;
  background-size: 15vh, 15vh, 10vh, cover;
  /*border-bottom: 10px solid lightsteelblue;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.mainBlock {
  height: 80vh;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  background-image: url("../images/plantLine2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 19vh;
  background-size: 100vw;
  overflow: hidden;
}
/*
.footBlock {
  height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*/
.leftSide {
  display: block;
  width: 20%;
  padding-top: 18vh;
  overflow: auto;
  scrollbar-width: none;
  background-image: url("../images/paper.png"), url("../images/brand-1.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: 0.5vw 37vh, 0 31vh;
  background-size: 18vw 28vh, 20vw 63vh;
}
.mainArea {
  width: 60%;
  /*padding-top: 5vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  /*-ms-overflow-style: none;*/
  /*border: 1px solid green;*/
}
.rightSide {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
#img_ID {
  max-height: 100%;  
  max-width: 100%;  
}
img.map, map area{
  outline: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.button {
  width: 100%;
  /*display: block;*/
  border: none;
  margin: 0 center;
  outline: none;
  background-color: transparent;
  /*box-shadow: 10px 10px 10px #999;*/
  padding: 5px 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: brown;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:hover { 
  font-size: 2em;
  color: green; 
}
.pullLeft > .button {
  cursor: none;
}
.button:active {
  color: greenyellow;
  transform: translateY(5px);
}
.pullLeft {
  position: absolute;
  left: 20%;
  top: 36%;
  animation-name: sideOptions;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  display: none;
  width: 27vw;
  height: 55vh;
  padding-top: 5vh;
  /*background-color: lightskyblue;*/
  /*border: 0.5vw solid darkred;*/
  background-image: url("../images/magnifyingGlass.png"), url("../images/paper.png");
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: 20vw 30vh, 21vw 40vh;
  /*transform-origin: left;*/
}
@keyframes sideOptions {
  0% {background-position: 0 35vh, 0 36vh; left: 0; opacity: 0;}
  25% {background-position: 6vw 35vh, 5vw 36vh; left: 5vw; opacity: 1;}
  50% {background-position: 12vw 35vh, 10vw 36vh; left: 10vw;}
  75% {background-position: 18vw 35vh, 15vw 36vh; left: 15vw;}
  100% {background-position: 23.5vw 35vh, 20vw 36vh; left: 20vw;}
}
.pullLeft .button {
  width: 22vw;
}
.contentCeil {
  display: none;
  width: 80%;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 25px;
  box-shadow: 7px 7px 0 #8F4C09;
  padding: 20px 30px;
  margin: 10px 0;
  background-color: #F7EBD8;
  position: relative;
}
#homePageContent {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*flex-wrap: wrap;*/
  /*border: 1px solid black;*/
}
#slideTip {
  display: none;
  width: 5%;
}
.slideDir {
  width: 3vw;
  height: 7vh;
  position: relative;
  left: 0;
  top: 80%;
  animation: pointerMove 4s linear infinite, rotatePic1 4s linear forwards infinite, rotatePic2 4s linear forwards infinite;
}
@keyframes pointerMove {
  0% {top: 80%;}
  50% {top: 10%;}
  100% {top: 80%;}
}
@keyframes rotatePic1 {
  0% {transform: rotate(0deg);}
  2.5% {transform: rotate(180deg);}
  100% {transform: rotate(180deg);}
}
@keyframes rotatePic2 {
  0% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  52.5% {transform: rotate(0deg);}
  100% {transform: rotate(0deg);}
}
/*
.addComment {
  display: none;
  width: 100%;
  position: absolute;
  left: 25%;
  top: 10px;
}

.warning {
  color: red;
  font-weight: bold;
}
ul li::before {
  content: '✏️'; 
  padding-right: 8px;
}
li.warning::before {
  content: '⚠️';
}
*/
a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  text-align: center;
}

.profilePic {
  width: 120px;
  height: 120px;
  background-color: lightgoldenrodyellow;
  background-image: url("../images/dui.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-top: 8px outset rgb(235, 174, 42);
  border-left: 8px outset rgb(235, 174, 42);
  border-right: 8px outset rgb(73, 50, 15);
  border-bottom: 8px outset rgb(73, 50, 15);
}

.profilePic:active {
  border: 3px solid black;
}

.imgUpload {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.previewImg {
  width: 100%;
  height: 40vh;
  border:2px dashed gray;
}

input[type="file"] {
  /*隱藏 瀏覽 按鈕*/
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

fieldset {
  margin: 5px auto;
  padding: 5px 25px;
  position: relative;
}

legend {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 0;
  background-color: transparent;
}

#iconTitle {
  position: absolute;
  left: -50px;
  top: 20px;
}

:required + span::before {
  position: absolute;
  right: -25px;
  bottom: 5px;
  content: '';
}

.modified:required:valid + span::before {
  color: green;
  content: '✓';
  font-size: 25px;
}

.modified:required:invalid + span::before {
  content: '✖';
  color: red;
  font-size: 20px;
}

.fieldName {
  background-color:#ffb84d;
  font-weight:bold;
}

.disableField {
  background-color:gray;
  color: white;
}

.regBackPic {
  background-image: url("../images/oldPaper.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

#stamp {
  display: none;
  width: 200px;
  position: absolute;
  left: 30%;
  top: 70%;
  animation: stamp 0.2s linear forwards;
}
@keyframes stamp {
  0% {left: 30%; top: 70%;}
  50% {left: 38%; top: 62%}
  100% {left: 48%; top: 55%;}
}

#textEditor {
  width: 100%;
  height: 50vh;
  background: url('../images/textEditArea.png') no-repeat top left;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

#writeField {
  width: 90%;
  height: 90%;
  overflow: auto;
  /*overflow-x: hidden;*/
  word-wrap: break-word;
  outline: none;
}

.textFuncBtn {
  width: 7%;
  position: absolute;
  top: 5%;
  left: 101%;
  /*border-radius: 5px;
  box-shadow: 3px 2px 0 #2c8a2c;*/
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textFuncBtn img {
  max-width: 80%;
  height: auto;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 10%;
  left: 110%;
}

.dropdown-toggle {
  background-color: transparent;
  padding: 0 !important;
  margin: 0 !important;
} 

.colorPlate {
  min-width: 4rem;
  width: 4rem;
  padding: 0;
}

.sizeVal .dropdown-item {
  text-align: center;
}

.dropdown-menu li, .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown .btn:focus,.dropdown .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.carousel-control-next-icon:after {
  color: blue;
  content: '🔃';
  font-size: 20px;
}

.carousel-control-next {
  top: -20%;
  left: 130%;
}

.fontStyleBtn {
  max-width: 100%;
  background-color: #e0dedb;
  border: 0.3rem outset #cac9c7;
}

@media screen and (max-width: 700px) {
  .textFuncBtn {
    left: -12%;
    width: 15%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .textFuncBtn {
    left: 95%;
    width: 10%;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 850px) {
  #photoAlbum {
    width: 80%;
    height: 100%;
    padding-top: 10%;
    text-align: center;
  }
  #photoAlbum > .frontCover {
    width: 100%;
    font-size: 1.5rem;
    background: none !important;
    box-shadow: none !important;
    text-align: center;
  }
  .contentPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrowIcon {
    display: none !important;
  }
  .bookmark, .deleteBtn, .pageNum, #albumControl {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .notFlow {
    overflow: hidden;
  }
  .bookmark, .pageNum {
    display: block;
  }
}

.article-btn {
  width: 80%;
  height: 3rem !important;
  background-color: rgb(139, 247, 112);
  border: 0.3rem outset rgb(119, 230, 91);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.article-btn:hover {
  background-color: rgb(103, 216, 75);
}

.article-btn:active {
  background-color: rgb(93, 218, 62);
  border: 0.2rem outset  rgb(81, 202, 51);
}

.titleText {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.article-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.articleInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table.table-bordered {
  border: 10px outset rgb(212, 139, 3);
}
table.table-bordered > tbody > tr > th {
  text-align: center;
  background-color: burlywood;
  border:2px solid brown;
}
table.table-bordered > tbody > tr > td {
  border:2px solid brown;
}

.swingFont:hover {
  animation-name: swing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes swing {
  0% {transform: rotate(0);}
  25% {transform: rotate(30deg);}
  50% {transform: rotate(0);}
  75% {transform: rotate(-30deg);}
  100% {transform: rotate(0);}
}

.tdMoveFont:hover {
  animation-name: topDown;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes topDown {
  0% {transform: translateY(-10px);}
  35% {transform: translateY(10px);}
  65% {transform: translateY(10px);}
  100% {transform: translateY(-10px);}
}

.fas {
  font-size: 1.8rem;
}

.imgUpload > .fas:nth-child(2) {
  font-size: 6rem;
}

.imgUpload > .fas:nth-child(3) {
  font-size: 3rem;
}

#screenMask {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
  z-index: 99999;
}