#photoAlbum {
  width: '70%';
  height: '50vh';
}

#photoAlbum .page {
  width: '70%';
  height: '50vh';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:1.5rem;
}

.contentPage {
  position: relative;
}

.bookmark {
  color: black;
  font-size: 1.8rem;
  position: absolute;
  top: 1rem;
  cursor: pointer;
}

.pageNum {
  font-size: 1rem;
  position: absolute;
  bottom: 0.5rem;
}

.deleteBtn {
  color: gray;
  font-size: 1.8rem;
  position: absolute;
  cursor: pointer;
  bottom: 0.5rem;
}

.leftAlign {
  left: 0.5rem;
}

.rightAlign {
  right: 0.5rem;
}

#albumControl > button > i {
  font-size: 2rem;
}

#pages {
  /*height: 100%;*/
  font-size: 1.4rem;
  width: auto;
  position: absolute;
  top: 0;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}

.frontCover {
  background: url('../images/photoAlbumCover1.jpg') no-repeat center center !important;
  background-size: cover !important;
}

.frontBack {
  background: url('../images/photoAlbumCover1-1.jpg') no-repeat center center !important;
  background-size: cover !important;
}

.endCover {
  background: white url('../images/photoAlbumCover2.jpg') no-repeat center center !important;
  background-size: contain !important;
}

.endBack {
  background: whitesmoke url('../images/photoAlbumCover2-1.png') no-repeat center center !important;
  background-size: 50% 40% !important;
}

.photo {
  max-height: 90%;
  padding: 25px;
  border: 1px solid transparent;
  border-image-source: url("../images/silverborder.png");
  border-image-slice: 15%;
  border-image-width: 25px;
  border-image-repeat: round;
}

#localPaste {
  width: 70%;
  height: 20rem;
  border: 2px dashed gray;
}


#photoAlbum .page-wrapper{
  -webkit-perspective:2000px;
  -moz-perspective:2000px;
  -ms-perspective:2000px;
  -o-perspective:2000px;
  perspective:2000px;
}


#photoAlbum .hard{
  font-family: 'Microsoft JhengHei';
  color:#333;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  font-weight:bold;
}

#photoAlbum .odd{
  /*background:-webkit-gradient(linear, right top, left top, 0.95 #FFF, 1 #DADADA);*/
  background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  
}

#photoAlbum .even{
  /*background:-webkit-gradient(linear, left top, right top,0.95 #fff, 1 #dadada);**/
  background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
}

.cloudIcon {
  font-size: 4rem;
  color: lightblue;
  position: relative;
}

.arrowIcon {
  font-size: 2rem;
  color: transparent;
  position: absolute;
  animation-name:  flowTop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes flowTop {
  0% {
    top: 17rem;
    background: linear-gradient(blue, lightskyblue, lightblue);
    -webkit-background-clip: text;
    background-clip: text;
  }
  50% {
    top: 15rem; 
    background: linear-gradient(lightskyblue, blue, lightblue); 
    -webkit-background-clip: text;
    background-clip: text;
  }
  100% {
    top: 13rem; 
    background: linear-gradient(lightskyblue, lightblue, blue);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.flashingWord {
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent;
  animation-name:  flashing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes flashing {
  0% {
    background: linear-gradient(to right, blue, lightblue, lightblue);
    -webkit-background-clip: text;
    background-clip: text;
  }
  25% {
    background: linear-gradient(to right, blue, lightskyblue, lightblue); 
    -webkit-background-clip: text;
    background-clip: text;
  }
  50% {
    background: linear-gradient(to right, lightskyblue, blue,  lightskyblue); 
    -webkit-background-clip: text;
    background-clip: text;
  }
  75% {
    background: linear-gradient(to right, lightskyblue,lightskyblue,  blue); 
    -webkit-background-clip: text;
    background-clip: text;
  }
  100% {
    background: linear-gradient(to right,  lightblue, lightblue, blue);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

#screenMask {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
  z-index: 99999;
}